html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* background-color: rgba(240, 255, 255, 0.843); */
    background: linear-gradient(to left, white, azure);
    /* min-height: min-content; */

}


/* #icon{
    background: linear-gradient(to top, rgba(61, 17, 17, 0.5), rgba(1, 21, 61, 0.5));

}  */

/* #icon img{
    max-width: 10vw;
    margin-top: 5vh;
    margin-left: 5vw;
} */

#container{
    /* background: linear-gradient(to top, rgba(198, 186, 186, 0.5), rgba(170, 176, 188, 0.5));; */
    background: linear-gradient(to right, rgb(222, 216, 216), rgba(185, 226, 226, 0.936));
    /* min-height: 100%; */
    /* height: 100%; */
    margin: 0 15% 0 15%;
}
 
 

nav ul{
    /* margin: 0; */
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
    
}

ul{
    list-style-type: none;
    
}

li a{
    color: antiquewhite;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}


header{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: rgba(139, 0, 0, 0.483);
    font-size: 2.0em;
    margin-top: 20vh;

    /* font-family: "jersey 25"; */
    
}

#middle{
    display: flex;
    flex-direction: column-reverse;
    
}

#middle  img{
    max-width: 250px;
    
}

/* #h1{
    padding-bottom: 20vh;   -----------------MAY TURN BACK ON
} */

/* p, footer{

    font-family: "jersey 25";
} */





 footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkred;
    font-size: 1.0em;
    padding-top: 15vh;
    /* margin-top: 10vh; */

}